* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f3c7f7;
    text-align: center;
    margin: 0;
    padding: 30px;
}
h1 {
    margin-bottom: 60px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.card {
    width: 300px;
    height: 400px;
    background-color: rgb(238, 134, 229);
    border: 2px solid #0a0a0a;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
}
.card img {
    width: 50%;
    height: 150px;
}
.card h2 {
    margin: 15px 0 10px;
}
.card p {
    margin: 10px 0 25px;
    line-height: 1.5;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
}


